.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.image-container img {
  max-width: 60%;
  height: auto;
}



.text-container {
  flex: 2;
}

.text-container section {
  margin-bottom: 20px;
}
